@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
header{
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
    z-index: 5;
}
.user{
    width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    padding: 0 10px;
    align-items: center;
    gap: 10px;
}
.user img{
    width: 30px;
}
.main-content {
    display: flex;
    flex-grow: 1; /* Takes up the remaining space */
}
nav{
    left: 0;
    width: 200px;
    background-color: #252525;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #E0E0E0;
    margin: 20px 0;
}
nav a:hover{
    color: #4CAF50;
}
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #121212;
    color: #E0E0E0;
    overflow-y: auto;
  }