.account-list{
    display: grid;
    gap: 20px;
}
.account{
    width: 250px;
    height: 150px;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    transition: 0.3s;
}
.acc-name{
    font-weight: bold;
    color: #E0E0E0;
    font-size: 20px;
}
.acc-value{
    font-weight: bold;
    font-size: 30px;
    color: #E0E0E0;
}
.acc-type{
    font-size: 15px;
}
.acc-menu {
    display: none;
}
.account:hover .acc-menu{
    display: block;
}
.fa-solid{
    cursor: pointer;
}
.renamePopup{
    display: none;
    z-index: 10;
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: black;
}